.Calculator{
  width: 300px;
  height: 500px;
  display: inline-block;
  background-color: black;
  border: solid black;
}

.Buttons{
  display: inline-block;
  width: 100%;
  height: 80%;
}

.Buttons button{
  height: 24%;
  width: 24%;
  margin: 0.5%;
  border: none;
  background-color: darkslategray;
  font-weight: bolder;
  font-size: 150%;
}

.Buttons button:hover{
  background-color: darkred;
  color: white;
}

.Buttons .operator{
  background-color: darkslateblue;
  font-style: italic;
  color: black;
}

.Result{
  height: 20%;
  font-size: 100%;
  font-weight: bolder;
  vertical-align: middle;
  position: relative;
  background-color: grey;
}

.ResultText{
  position: absolute;
  height: 30%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 170%;
}

#root{
  width: 100%;
  height: 100%;
  text-align:center;
}